
__pycache__
venv
env
.env
.pytest_cache
.coverage
.idea
.vscode
lightning_logs
.ipynb_checkpoints
.ckpt
example.ckpt
.neptune
logs_for_plots
final_logs
logs_for_heuristics
logs_for_graphs
logs_for_freedom_maps
heuristic_tables
stats
videos
algs/stasts
.DS_Store